.navbar {
  background-color: var(--yellow-theme-nav-background-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-intems: center;
  align-items: 2.1rem;

  &__container{
    display flex;
    align-items: center;
    width: 100%;
    height:  inherit; 
    padding: 0px 20px;
  }
}
